<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/Theme/Material/apple-icon.png" />
    <link rel="icon" type="image/png" href="~/Images/Theme/Material/favicon.png" />

    <title>@ViewBag.Title - My ASP.NET Application</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/css/theme/material")
    @Scripts.Render("~/bundles/modernizr")

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>
<body>
   @if (Session["Token"] == null)
   {
       <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
           <div class="container">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand" href="/home">Point De Vente Demo : IPAD PRO</a>
               </div>
               <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                       <li class="">
                           <a href="/user/signup">
                               <i class="material-icons">person_add</i> Sign Up
                           </a>
                       </li>
                       <li class="active">
                           <a href="/home">
                               <i class="material-icons">fingerprint</i> Sign In
                           </a>
                       </li>
                       
                   </ul>
               </div>
           </div>
       </nav>
   }
   
    @*@if (Session["SuperUser"] != null && Session["Token"] != null && Session["SuperUser"] == Session["Token"])
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Admin navigation", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Staff</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }*@

<div class="">  
    @if (Session["SuperUser"] != null && Session["Token"] != null && Session["SuperUser"] == Session["Token"])
    {
        <div class="wrapper">
            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            @*@Html.Partial("_Sidebar")*@
            @{
                Html.RenderAction("GetAdmin", "Categories");
            }
            @RenderBody()
        </div>
    }
    else if (Session["Token"] != null )
    {
        <div class="wrapper">
            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            @*@Html.Partial("_Sidebar")*@
            @{
                Html.RenderAction("GetAll", "Categories");
            }
            @RenderBody()
        </div>
    }
    else
    {
        <div class="wrapper" style="background-image: url(../../../Images/Theme/Material/cover.jpeg); background-size: cover">

            @RenderBody()
        </div>
    }
    
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @if (Session["SuperUser"] != null && Session["Token"] != null && Session["SuperUser"] == Session["Token"])
    {
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @Html.Partial("_Widget")
    }
    
    
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script> <a href="http://webdevto.ca/">Nick Gaudreau</a>, PDV Alpha Version
            </p>
        </div>
    </footer>
</div>

    @Scripts.Render("~/js/theme/material/jquery")
    @Scripts.Render("~/js/theme/material/bootstrap")
    @Scripts.Render("~/js/theme/material/materialdesign")
    @Scripts.Render("~/js/theme/material/others")

    <!--  Google Maps Plugin    -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
    <script src="~/Scripts/security.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
<div class="modal" id="num-pad" style="top: -9%;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgba(213, 240, 251, 0.3); width: 75%;">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Manual Changes</h4>
                </div>*@
            <div class="modal-body">
                @* ReSharper disable once Mvc.PartialViewNotResolved *@
                @Html.Partial("_NumPad")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" style="width: 100px; margin-left: 10px; padding-bottom: 10px;" data-dismiss="modal">
                    <i class="material-icons">clear</i>
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100px;">
                    <i class="material-icons">done</i>
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {

        // GLOBAL MODAL CAPTURE/ASSIGN ON OPEN/CLOSE EVENT
        var $target = null;
        $("#num-pad").on('shown.bs.modal',
            function (event) {
                //console.log("open");
                //console.log(event);
                $target = $(event.relatedTarget);
                $('.num-pad-input').val($target.val());
            });

        $("#num-pad").on("hidden.bs.modal",
            function (event) {
                //console.log("close");
                //console.log(event);
                $target.val($('.num-pad-input').val());
            });
        // END: GLOBAL MODAL CAPTURE/ASSIGN ON OPEN/CLOSE EVENT

    });
</script>